---
layout: page
title: "Clases"
permalink: /clases/
phony: true
excerpt: '' # work around a bug
---

<ul>
  {% assign lectures = site['clases'] | sort: 'date' %}
  {% for lecture in lectures %}
    {% if lecture.phony != true %}
      <li>
        <strong>{{ lecture.date | date: '%-m/%d' }}</strong>:
        {% if lecture.ready %}
          <a href="{{ site.baseurl }}{{ lecture.url }}">{{ lecture.title }}</a>
        {% elsif lecture.noclass %}
          {{ lecture.title }} [no class]
        {% else %}
          {{ lecture.title }} [coming soon]
        {% endif %}
        {% if lecture.details %}
          <br>
          ({{ lecture.details }})
        {% endif %}
      </li>
    {% endif %}
  {% endfor %}
</ul>

Los video tutoriales estarán disponible <a href="https://www.youtube.com/@ramiroespadaguerrero/playlists">en Youtube</a>

